__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
backend/data/*.db
data/*.db
*.db
Traffic_Route_Finder*.zip
.DS_Store
Thumbs.db

